.nave {
    background-color: #A2615A;
}

.content {
    max-width: 800px;
    text-align: center;
}

.bground {
    background-color: #E8ECD6;
}

.ptext {
    color: #A2615A;
}

.stext {
    color: #5B4333;
}

.highlight {
    color: #edf6f9;
}
.cards{
    background-color: #FDFFF0;
    box-shadow: 3px 3px 5px 4px rgb(130, 130, 138);
}
.logs{
    width: 50px;
}
.logs:hover {
    box-shadow:  5px 5px 5px 2px rgb(97, 95, 95);
}